In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

plt.style.use('ggplot')

import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

import dask.dataframe as dd
from dask.diagnostics import ProgressBar

pbar = ProgressBar()                
pbar.register()

The scikit-learn version is 0.24.2.

In [2]:
data_train = dd.read_csv('data_train.csv').drop(columns=['Unnamed: 0']).compute()

[########################################] | 100% Completed |  0.5s

In [3]:
from datetime import datetime

#data_train['buy_time'] = dd.to_datetime(data_train['buy_time'], unit='s')

In [4]:
data_train = data_train.sort_values(['id','buy_time']).reset_index().drop(columns=['index'])

In [19]:
data_train.shape

(831653, 4)

In [5]:
data_train.head()

   id  vas_id    buy_time  target
0   2     2.0  1545598800     0.0
1   4     1.0  1533502800     0.0
2  15     1.0  1534107600     0.0
3  16     2.0  1540760400     0.0
4  29     1.0  1533502800     0.0

In [6]:
df = dd.read_csv('features.csv', delimiter="\t").drop(columns=['Unnamed: 0']).compute()

[########################################] | 100% Completed |  2min 15.3s

In [7]:
#df['buy_time'] = dd.to_datetime(df['buy_time'], unit='s')

In [8]:
df = df.sort_values(['id','buy_time']).reset_index().drop(columns=['index'])

In [9]:
df.head(2)

,id,buy_time,0,1,2,3,4,5,6,7,...,243,244,245,246,247,248,249,250,251,252
0,0,1539550800,-87.479971,-258.499112,-93.790786,-192.486798,-99.208246,-213.59179,-16.08618,-65.076097,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
1,1,1546808400,-95.299971,-47.949112,-55.070786,-42.146798,-60.488246,-63.25179,-16.08618,-65.076097,...,-952.373846,-611.770792,-25.996269,-17.630448,-250.747724,-17.832889,-0.694428,-12.175933,-0.45614,0.0

In [10]:
data = data_train.join(df, on="id", rsuffix='_other')

In [11]:
data.head(2)

,id,vas_id,buy_time,target,id_other,buy_time_other,0,1,2,3,...,243,244,245,246,247,248,249,250,251,252
0,2,2.0,1545598800,0.0,2,1545598800,-96.799971,229.530888,-110.740786,305.723202,...,2300.626154,1492.229208,-21.996269,-35.630448,368.252276,11.167111,7.305572,-12.175933,-0.45614,0.0
1,4,1.0,1533502800,0.0,4,1538341200,-96.799971,-323.429112,-110.740786,-376.036798,...,4806.626154,4140.229208,-25.996269,-37.630448,-35.747724,-20.832889,-0.694428,-7.175933,-0.45614,0.0

In [12]:
data.to_csv('data_train_with_features.csv')

In [13]:
data_test = dd.read_csv('data_test.csv').drop(columns=['Unnamed: 0']).compute()

[########################################] | 100% Completed |  0.3s

In [14]:
#data_test['buy_time'] = dd.to_datetime(data_test['buy_time'], unit='s')

In [15]:
data_test = data_test.sort_values(['id','buy_time']).reset_index().drop(columns=['index'])

In [16]:
data_test.head()

    id  vas_id    buy_time
0   55     2.0  1547413200
1   64     4.0  1548018000
2  151     2.0  1547413200
3  274     2.0  1547413200
4  274     4.0  1548018000

In [17]:
data = data_test.join(df, on="id", rsuffix='_other')

In [18]:
data.to_csv('data_test_with_features.csv')